{% extends "layout.html.twig" %}

{% block title 'Admin partners' %}
    {% block p '' %}


{% block content %}
    <h2>Partners</h2>
    <p><a href="{{ path('admin_partner_edit') }}">Ajouter un partenaire</a></p><br>
    <table class="table">
        <tr>
            <th>Titre</th>
            <th>Contenu</th>            
            <th>Image</th>
            <th width="200px"></th>
        </tr>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.title }}</td>
                <td>{{ partner.content }}</td>
                <td><img src="{{ asset('img/' ~ partner.img) }}" width="130" height="90"></td>
                <td>
                    <a href="{{ path('admin_partner_edit', { id: partner.id }) }}" class="btn btn-primary">
                        Modifier
                    </a>
                    

                    <a href="{{ path('admin_partner_delete', { id: partner.id }) }}" class="btn btn-danger">
                       Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Aucun Résultat</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/adminArticle.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/admin.css')}}"/>

{% endblock %}