{%extends "layout.html.twig"%}
{% block p '' %}


{% block page_title 'Partenaire' %}
{% block content %}
<h2>Partners</h2>
    <table class="table">
        
        {% for partner in partners %}
            <tr>
                <td><img src="{{ asset('img/' ~ partner.img) }}"  width="180" height="150"></td>                
                <td><b>{{ partner.title }}</b><br><br>{{ partner.content }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">Aucun Résultat</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset ('css/partner.css')}}"/>


{% endblock %}

