{%extends "layout.html.twig"%}
{% block h2 '' %}
{% block p '' %}


{% block page_title 'Partenaire' %}

{% block content %}
   {% for partner in partners %}
        <div class="container">
            <div class="row">
            
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-lg-offset-1">
                    <img src="{{ asset('img/' ~ partner.img) }}" max-width="400" max-height="350">
                </div>

                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-6 col-lg-offset-1"">
                    <h3><b>{{ partner.title }}</b></h3>
                    <p>{{ partner.content }}</p>
                </div>

                 
            
            </div>
            
        </div>
            
        

    {% else %}
        <tr>
            <td colspan="4" align="center">Aucun Résultat</td>
        </tr>
    {% endfor %}
    
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset ('css/partner.css')}}"/>
{% endblock %}
