{%extends "layout.html.twig"%}
{% block h2 '' %}
{% block p '' %}


{% block page_title 'Partenaire' %}

{% block content %}
   {% for partner in partners %}
        <table class="table">
            <th>
                <td>
                    <img src="{{ asset('img/' ~ partner.img) }}" max-width="400" height="350">
                </td>
                <td>
                    <article>
                        <p><b>{{ partner.title }}</b></p>
                    </article>
                    <article>
                        {{ partner.content }}
                    </article>
                </td>
            </th>
        </table>


    {% else %}
        <tr>
            <td colspan="4" align="center">Aucun Résultat</td>
        </tr>
    {% endfor %}
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset ('css/news.css')}}"/>
{% endblock %}

